.textinput
{
    font-family: Arial, Helvetica, sans-serif;

    position: relative;

    display: inline-block;

    background: rgba(0, 0, 0, 0.2);

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.textinput::before
{
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;

    content: '';

    background: #fff;
}

.box
{
    position: relative;

    display: block;

    -webkit-touch-callout: none;

    user-select: none;
}

.control
{
    font: inherit;
    line-height: inherit;

    position: relative;

    display: inline-block;

    box-sizing: border-box;
    padding: 0;
    width: 100%;

    border: 0;
    outline: none;
    background: none;

    -webkit-appearance: none;
}

.control::-webkit-search-decoration
{
    -webkit-appearance: none;
}

.control::-webkit-search-cancel-button
{
    display: none;
}

.control::-webkit-input-placeholder
{
    color: #999;
    text-indent: 0;
}

.control::-moz-placeholder
{
    opacity: 1;
    color: #999;
}

.control::-ms-clear
{
    display: none;
}

.has-clear .box
{
    padding-right: 28px;
}

.hovered
{

}

.focused
{
    z-index: 1;

    background: rgba(178, 142, 0, 0.6);
    box-shadow: 0 0 0 1px #fc0, inset 0 0 0 1px #fc0;
}

.focused .control
{
    text-overflow: clip; /* fix ellipsis bug in Chrome */
}

.disabled
{
    background: rgba(0, 0, 0, 0.08);
}

.disabled::before,
.disabled .clear
{
    display: none;
}

.disabled .box,
.disabled .control
{
    color: rgba(0, 0, 0, 0.4);
    cursor: default;
}

.size-s
{
    font-size: 13px;
    line-height: 16px;
}

.size-s .control
{
    height: 24px;
    padding-left: 6px;
}
