doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title #{ name } — Test react-islands
        link(rel="stylesheet" href="https://yastatic.net/bem-components/2.4.0/desktop/bem-components.css")
        style.
            body {
                padding-left: 20px;
            }
            .example {
                padding-bottom: 1em;
            }
            .back {
                margin-top: 2em;
            }
    body
        h2 #{ name }
        div(id="root")
        script(src="/node_modules/react/dist/react.js")
        script(src="/node_modules/react-dom/dist/react-dom.js")
        script(src="index.js")
        script.
            ReactDOM.render(React.createElement(Example.default), document.getElementById('root'));

        div.back
            a.link(href="..") Back

