{
  "presets": [
    ["es2015", { "loose": true }],
    "react"
  ],
  "plugins": [
    "add-module-exports",
    "transform-class-properties",
    "transform-export-extensions",
    "transform-object-rest-spread",
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": false
    }]
  ],
  "env": {
    "production": {
      "plugins": [
        "dev-expression",
        "transform-react-constant-elements",
        "transform-react-remove-prop-types",
        "transform-react-pure-class-to-function"
      ]
    }
  }
}
