.clear
{
    width: 28px;
    height: 28px;

    position: absolute;
    top: 0;
    right: 0;

    cursor: text;
    transition: opacity 0.1s ease-out;

    opacity: 0;
    background: red;
}

.visible
{
    opacity: 0.3;
}

.visible:hover
{
    cursor: pointer;

    opacity: 1;
}
