.link
{
    color: #44b;
    cursor: pointer;
    transition: color 0.15s ease-out;
    text-decoration: none;

    outline: 0;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}

.link:hover
{
    color: #e00;
}

.disabled
{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.focused
{
    outline: 2px solid #fc0;
}

.size-s
{
    font-size: 13px;
}
